@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap');

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
}

body {
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-size: 16px;
  font-family: IBM Plex Sans, Helvetica Neue, Helvetica, sans-serif, Arial

}

h1 {
  font-weight: 800;

  margin: 0;
  font-family: Unbounded;
  color: #0a49c7;
}
a {
  color: inherit;
  text-decoration: none;
  margin: 0px;
}
h2 {
  font-weight: 600;
  margin-top: 0px;
  margin-bottom: 8px;
  color: #1f1f1f;
  font-family: Unbounded;
  color: #1c64f2;

}
strong {
  color: #252525

}
li {
  color: #3e3e3e
 
}
p{
  color: #3e3e3e
}
i {
  color: #797979
}