


.hero {
  background-image: url("https://i.postimg.cc/rwbFzsKB/Spartanburg.jpg");
  width: 100vw;
  height: 100vh;
  background-size: cover; 
  position: fixed;
  z-index: -1
}

.eventInfo {
  border-radius: 16px 16px 0px 0;
  position: absolute;
  padding: 16px;
  background-color: #fff;
  margin-top: calc(100vh);
  width: calc(100vw - 32px);
}
.descriptionText {
  margin-top: 12px;
  font-size: 18px;
}

.buttonTicket {
  width: calc(100vw - 32px);
  text-align: center;
  height: 48px;
  
  align-items: center;
  justify-content: center;
  position: fixed;
  display: flex;
  background-color: #0a49c7;
  color: #fff;
  margin-left: 16px;
  margin-right: 16px;
  bottom: 8px;
  z-index: 2;
  border-radius: 16px;
  font-size: 18px;
}

.contentGroup {
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 16px 16px 16px 16px;
  border-radius: 16px;
  background-color: rgb(232, 243, 255)
}

.innerContentGroup {
  margin-top: 8px;
  margin-bottom: 8px;
  padding: 16px 16px 16px 16px;
  border-radius: 8px;
  background-color: rgb(241, 248, 255) 
}
@media only screen and (min-width: 700px){

  .buttonTicket {
    width: calc(50vw);
    right: 32px;
    bottom: 32px 
  }
  .hero {
    width: "50%";
    display: flex;
    overflow: hidden;
  }
  .eventInfo {
    position: absolute;
    right: 16px;
    margin-top: 0px;
    overflow-y: scroll;
    width: 50%;
    height: calc(100% - 64px);
    margin: 16px;
    border-radius: 16px;
  }
  
}
